################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SampleWebApp/.vs/samplewebapp
/SergioAz203WebAppC/.vs/SergioAz203WebAppC
